<div id="all">
    <div id="not-found-logo">
        <a href="/">
            <div class="logo">
                <img src="assets/images/logo.png" alt="logo">
            </div>
        </a>
    </div>

    <div id="not-found">
        <div class="header-content">
            <div class="header-content-box">
                <div class="firstline">404</div>
                <div class="secondline">
                    <span class="color">Page </span>Not Found
                </div>
            </div>
        </div>
    </div>
    <div id="not-found-footer">
      <div *ngFor="let s of socials">
        <a [href]="s.link" target="_blank"><img [src]="s.icon" class="social-media" [alt]="s.alt"></a>
      </div>
    </div>
</div>
