<div id="portfolio">
    <div class="portfolio-header"> <span class="color"> My </span> Portfolio<span class ="header-caption"> Some Of My <span class="color"> Works</span></span></div>
    <div id="portfolio-content">
        <div class="portfolio portfolio-first">
            <div class="portfolio-image">
            <img src="assets/images/portfolio/legal-ai.webp" alt="portfolio-first">
            </div>
            <div class="portfolio-text">
                <h2>LabLab.ai Legal AI Hackathon</h2>
                <p>LawMinds is a mobile application developed using Flutter for the Legai AI Challenge, offering workers easy access to legal consultation. It features a user-friendly chatbot powered by GPT-3.5 and AI12 Labs for natural language understanding, making legal advice accessible on the go.</p>
                <div class="button"><a href="https://github.com/muzalee/lawminds" target="_blank"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
            </div>
        </div>

        <div class="portfolio portfolio-second">
            <div class="portfolio-image">
            <img src="assets/images/portfolio/kedai.png" alt="portfolio-second">
            </div>
            <div class="portfolio-text">
                <h2>Kedai e-Commerce Website</h2>
                <p>Designed with Angular for the frontend and .NET Core for the backend, this eCommerce website incorporates JWT bearer token authentication for securing the backend API and utilizes the Stripe Payment API for a seamless and secure checkout process.</p>
                <div class="button"><a href="https://github.com/muzalee/kedai" target="_blank"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
            </div>
        </div>

        <div class="portfolio portfolio-third">
            <div class="portfolio-image">
            <img src="assets/images/portfolio/myeasyprog.gif" alt="portfolio-third">
            </div>
            <div class="portfolio-text">
                <h2>myEasyProg e-Learning Website</h2>
                <p>Created an e-learning website using Laravel, React, and Mantine. It features integration with GPT-3.5 to analyze student compatibility with subjects, providing personalized insights and recommendations.</p>
                <div class="button"><a href="https://myeasyprog.my" target="_blank"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
            </div>
        </div>
    </div>  
</div>
<app-footer />