<div id="portfolio">
    <div class="portfolio-header"> <span class="color"> My </span> Portfolio<span class ="header-caption"> Some Of My <span class="color"> Works</span></span></div>
    <div id="portfolio-content" *ngFor="let p of projects">
        <div class="portfolio">
            <div class="portfolio-image">
            <img [src]="p.image" [alt]="p.name">
            </div>
            <div class="portfolio-text">
                <h2>{{ p.name }}</h2>
                <p>{{ p.desc }}</p>
                <div class="button"><a [href]="p.source" target="_blank"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
            </div>
        </div>
    </div>  
</div>
<app-footer />