<div id="about">
    <!--about content-->
    <div id="about-content">
        <div class="about-header">
            About <span class="color">Me</span>
            <span class ="header-caption">Get to know <span class="color">me.</span></span>
        </div>
        <div class="about-main">
            <div class="about-first-paragraph wow">
                <!--about description-->
                <span class="about-first-line">
                    I'm an 
                    <span class="color">Application Developer, </span>Geek Extraordinaire</span>
                <br>
                <span class="about-second-line">I'm like a tech sorcerer, conjuring awesome apps with Flutter, Angular, Laravel, .NET, and a sprinkle of magic. (not limited to these tech stack)</span>
                <div class="cv">
                    <a href="mailto:muzallyefah@gmail.com" target="_blank"><button>Hire Me for Freelancing Work</button></a>
                </div>
            </div>
            <!--about picture -->
            <div class="about-img">
                <img src="assets/images/about-me.jpg" alt="about">
            </div>
            <!-- about picture end -->
        </div>
    </div>
    <!--services start-->
    <div id="services">
        <!--services header-->
        <div class="services-heading wow">
            <span class="color">My</span> Services
        </div>
        <!--services header end-->
        <!--services content-->
        <div class="services-content">
            <div class="service-one service wow">
                <div class="service-img">
                    <img src="assets/images/web.png" alt="service-one">
                </div>
                <div class="service-description">
                    <h2>Web</h2>
                    <p>Create stunning websites and web applications that engage audiences and drive results. Transform ideas into digital experiences.</p>
                </div>
            </div>
            <div class="service-two service wow">
                <div class="service-img">
                    <img src="assets/images/mobile.png" alt="service-two">
                </div>
                <div class="service-description">
                    <h2>Mobile App</h2>
                    <p>Build powerful, user-friendly mobile apps for iOS and Android. Transform app ideas into reality with cutting-edge technology.</p>
                </div>
            </div>
            <div class="service-three service wow">
                <div class="service-img">
                    <img src="assets/images/software.png" alt="service-three">
                </div>
                <div class="service-description">
                    <h2>Software</h2>
                    <p>Craft custom software solutions tailored to unique business needs. Ensure efficiency and productivity with software development expertise.</p>
                </div>
            </div>
        </div>
        <!--services content end-->
    </div>
    <!--services end-->
</div>
<app-footer />