<!--Header-->
<div id="header">
    <div id="particles"></div>

    <!--Social Media Links-->
    <div class="social-media-links">
      <div *ngFor="let s of socials">
        <a [href]="s.link" target="_blank"><img [src]="s.icon" class="social-media" [alt]="s.alt"></a>
      </div>
   </div>
    <!--Social Media Links end-->
    <div class="header-content">
        <div class="header-content-box">
            <div class="firstline"><span class="color">Muzallyefah </span>Fadli</div>
            <div class="secondline">
                I'm a
                <span class="txt-rotate color" data-period="1200" data-rotate='[ " Digital Nomad.", " Freelancer.", "  Wizard of Bits & Bytes.", " Developer." ]'></span>
                <span class="slash">|</span>
            </div>
        </div>
    </div>
    <!-- header image -->
    <div class="header-image">
        <img src="assets/images/home.png" alt="home">
    </div>
    <!-- header image end -->
</div>
<!--Header End-->
