<!--Header-->
<div id="header">
    <div id="particles"></div>

    <!--Social Media Links-->
    <div class="social-media-links">
        <a href="https://github.com/muzalee" target="_blank"><img src="assets/images/github-logo.png" class="social-media" alt="github-logo"></a>
        <a href="https://www.linkedin.com/in/muzallyefah" target="_blank"><img src="assets/images/linkedin-logo.png" class="social-media" alt="linkedin-logo"></a>
        <a href="Mailto:muzallyefah@gmail.com" target="_blank"><img src="assets/images/email-logo.png" class="social-media" alt="email-logo"></a>
        <a href="assets/files/resume.pdf" target="_blank"><img src="assets/images/cv-logo.png" class="social-media" alt="cv-logo"></a>
    </div>
    <!--Social Media Links end-->
    <div class="header-content">
        <div class="header-content-box">
            <div class="firstline"><span class="color">Muzallyefah </span>Fadli</div>
            <div class="secondline">
                I'm a
                <span class="txt-rotate color" data-period="1200" data-rotate='[ " Digital Nomad.", " Freelancer.", "  Wizard of Bits & Bytes.", " Developer." ]'></span>
                <span class="slash">|</span>
            </div>
        </div>
    </div>
    <!-- header image -->
    <div class="header-image">
        <img src="assets/images/home.png" alt="home">
    </div>
    <!-- header image end -->
</div>
<!--Header End-->