<div id="navigation-content">
    <div class="logo">
        <img src="assets/images/logo.png" alt="logo">
    </div>
    <div (click)="onClose()" class="navigation-close">
        <span class="close-first"></span>
        <span class="close-second"></span>
    </div>
    <div class="navigation-links">
        <a (click)="onLink('/')" data-text="HOME">HOME</a>
        <a (click)="onLink('/about')" data-text="ABOUT">ABOUT</a>
        <a (click)="onLink('/portfolio')" data-text="PORTFOLIO">PORTFOLIO</a>
    </div>
</div>

<div (click)="onMenu()" id="navigation-bar">
    <img src="assets/images/logo.png" alt="logo">
    <div class="menubar">
        <span class="first-span"></span>
        <span class="second-span"></span>
        <span class="third-span"></span>
    </div>
</div>