<div id="navigation-content">
    <div class="logo">
        <img src="assets/images/logo.png" alt="logo">
    </div>
    <div class="navigation-close">
        <span class="close-first"></span>
        <span class="close-second"></span>
    </div>
    <div class="navigation-links">
        <a href="/" (click)="onLink('/')" data-text="HOME" id="home-link" >HOME</a>
        <a href="/about" (click)="onLink('/about')" data-text="ABOUT" id="about-link" >ABOUT</a>
        <a href="/portfolio" (click)="onLink('/portfolio')" data-text="PORTFOLIO" id="portfolio-link" >PORTFOLIO</a>
    </div>
</div>

<div id="navigation-bar">
    <img src="assets/images/logo.png" alt="logo">
    <div class="menubar">
        <span class="first-span"></span>
        <span class="second-span"></span>
        <span class="third-span"></span>
    </div>
</div>
